.ccounter {
    text-align: center;
    background: black;
}

.ccounter div {
    display: inline-block;
    font-size: 80px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    color: white;
    margin-top: 40px;
    margin: 4px;
    border-radius: 20px;
}