.ccounter {
    text-align: center;
    background: #bdb7ac;
    margin-top: 10px;
    padding: 40px;
    
}

.ccounter div {
    display: inline-block;
    font-size: 80px;
    padding: 10px;
    background-color: #ddd6cb;
    color: #ffffff;
    margin-top: 40px;
    margin: 4px;
    border-radius: 20px;
    border: 2px solid #f0eae0;
}